#dlgMask
{
    margin: 0;
    padding: 0;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9990;
    display: none;
}

#dlgContent
{
    width: 410px;
    background: #111;
    position: absolute;
    z-index: 9991;
    margin: 0;
    padding: 3px;
    display: none;
    text-align: left;
    
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    
    /*box-shadow: 1px 1px 3px #000;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;*/
}

#dlgContent *
{
    font-family: 'Trebuchet MS', Arial, Verdana;
    outline: none;
}

#dlgContent h4
{
    line-height: 30px;
    background: #333;
    margin: 0;
    padding: 0 10px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    font-size: 12px;
    color: #FFF;
}

#dlgContent p
{
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #333;
    line-height: 30px;
    clear: both;
}

#dlgContent div
{
    padding: 10px 15px;
    font-size: 12px;
    color: #FFF;
}

p#dlgCloseButton
{
    padding: 7px 10px;
    margin: 0;
    text-align: right;
    border-top: 1px solid #333;
}

p#dlgCloseButton a
{
    margin: 0;
    padding: 5px 10px;
    background: #555;
    text-decoration: none;
    color: #FFF;
    font-size: 12px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

p#dlgCloseButton a:hover, p#dlgCloseButton a:focus
{
    background: #0084C9;
}

#dlgText
{
    width: 100%;
    border: none;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    font-size: 12px;
    background: #666;
    padding: 3px 5px;
    color: #FFF;
}