div#wrapper {

    background:#fff !important;
    border:none;
}

div#meio {
	
	float:left;
	display:inline;
	width:100%;
	border:none;
	margin-bottom:0;
}

div#wrap_login {

	/*margin:0 auto;
	display:block;
	width:665px;
	height:500px;
	background:url("../../img/admin/bkg_login.jpg");
	background:url("../../img/admin/login_projur2.png");
    background-repeat: no-repeat;
	margin-top:50px;*/

    /*background-image: url(login_projur2.png) ;*/
    background:url("../../img/admin/login_projur3.png");
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 377px;
    height: 399px;
    /*border: 1px solid; */
    margin-top: 60px;
}

div#container_logo {

	float:left;
	width:365px;
	margin-top:70px;
}

div#logo {

	float:left; 
	width:320px;
	height:105px;
	display:inline;
	margin-top:6px;
	margin-left:30px;
}

div#logo h1 {

	float:left; 
	width:320px;
	height:105px;
	display:inline;
}

div.information {

	float:left;
	width:310px;
   /* border: 1px solid;*/
}

div#container_login {

	float:left;
	width:310px;
	margin-left:40px;
	text-align:left;
	margin-top:27px;
    /*border: 1px solid*/;
}

strong#msg {

	float:left;
	margin:0;
	margin-bottom:15px;
	color:#333;
	font:bold 12px tahoma;
}

div#container_login p {

	float:left;
	margin:0 0 10px 0;
	width:100%;
}

label.label {

	float:left;
	color:#333;
	font:bold 12px tahoma;
	width:45px;
	margin-top:2px;
	margin-right:5px;
	text-align:right;
}
input.input-login {

	float:left;
	padding:2px;
       border: 1px solid #0099cc;
	color:#333;
	font:normal 14px tahoma;
}
input.input-login:focus {

	border:solid 1px #999;
}
p.check {

	float:left  !important;
	display:inline  !important;
	width:180px !important;
	margin-left:46px !important;
}

 p.check label {
 
	font:bold 11px tahoma !important;
	color:#333;
}

input.button-login {

	float:left;
	width:94px;
       height: 30px;
/*	background:url("../../img/admin/button_login.jpg") no-repeat; */
       background:url("../../img/admin/botao.jpg") no-repeat;	
	font:bold 11px tahoma !important;
       border: none;
	color:#333;
	padding:5px 0; 
	margin:0 0 0 50px;
}

span.mysenha {

	float:left;
	margin:0 0 0 25px;
	font:normal 11px arial;
}

span.mysenha a {

	color:#333 !important;
}

span.mysenha a:hover {

	color:#555 !important;
}

#boxCad {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 700px;
	margin-left: -350px;
	z-index: 180;
}
/* #bgBody {
	background-color: #000;
	-moz-opacity: 0.8;
	opacity: 0.8;
	filter:alpha(opacity=80);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
}

div.recuperar {

	float:left;
	margin:0;
	width:300px;
	background:red;
	border:solid 1px #333;
	padding:20px;
	_padding-bottom:0 !important;
}

div.recuperar p {

	float:left;
	width:286px;
	border:solid 2px #333;
	padding:5px;
	margin:0;
	margin-top:10px;
}

div.recuperar strong  {

	display:block;
	font:bold 14px tahoma;
	color:#000;

}

div.recuperar span  {

	display:block;
	font:normal 11px tahoma;
	color:#333;
	margin:3px 0;
}

div.recuperar label {

	float:left;
	font:bold 13px tahoma;
	color:#333;
	margin-top:2px;
} */